<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.maps.EmployeeMapper" >
	<resultMap id="employeeResult" type="employee">
		<id property="id" column="id" />
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="firstName" column="first_name"/>
		<result property="lastName" column="last_name"/>
		<result property="address" column="address"/>
		<result property="city" column="city"/>
		<result property="province" column="province"/>
		<result property="postalCode" column="postal_code"/>
		<result property="email" column="email"/>
		<result property="phoneNumber" column="phone_number"/>
		<result property="socialMediaUrl" column="social_media_url"/>
	</resultMap>

	<!-- EMPLOYEE ACTIONS -->
	
	<select id="selectEmployeeById" resultType="employee" parameterType="int" resultMap="employeeResult">
	    SELECT 
	    	*
	    FROM 
	    	employee 
	    WHERE 
	    	id = #{id}
	</select>
	
	<select id="selectEmployeeByUsername" resultType="employee" parameterType="String" resultMap="employeeResult">
	    SELECT 
	    	* 
	    FROM 
	    	employee 
	    WHERE 
	    	username = #{username}
	</select>
	
	<select id="selectEmployeeLogin" resultType="employee" parameterType="employee" resultMap="employeeResult">
	    SELECT 
	    	* 
	    FROM 
	    	employee 
	    WHERE 
	    	username = #{username} 
	    AND 
	    	password = #{password}
	</select>
	
	<insert id="insertEmployee" parameterType="employee"  keyProperty="id" useGeneratedKeys="true">
		INSERT INTO 
			employee(username, password, first_name, last_name, email) 
		VALUES
			(#{username}, #{password}, #{firstName}, #{lastName}, #{email}) 	    
	</insert>
	
	<update id="updateEmployeeById" parameterType="employee" keyProperty="id" useGeneratedKeys="true">
		UPDATE 
			employee
		SET 
			username = #{username},
			first_name = #{firstName},
			last_name = #{lastName},
			address = #{address},
			city = #{city},
			province = #{province},
			postal_code = #{postalCode},
			email = #{email},
			phone_number = #{phoneNumber},
			social_media_url = #{socialMediaUrl}
		WHERE 
			id =#{id}    
	</update>
	
	<update id="softDeleteEmployeeById" parameterType="employee">
		UPDATE 
			employee
		SET 
			is_deleted = true
		WHERE 
			id =#{id}     	    
	</update>
	
	<delete id="deleteEmployee" parameterType="int">
		DELETE FROM employee WHERE id =#{id}  	    
	</delete>
	
	
	<!--
	
	<select id="selectEducationForEmployee" resultType="Education">
		SELECT
			*
		FROM
			education
		WHERE
			employee_id = #{id}
	</select>
	
	<select id="selectExperienceForEmployee" resultType="Experience">
		SELECT
			*
		FROM
			experience
		WHERE
			employee_id = #{id}
	</select>
	 -->
	 
</mapper>