<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.maps.ExperienceMapper" >
	<resultMap id="experienceResult" type="experience">
		<id property="id" column="id" />
		<result property="employeeId" column="employee_id"/>
		<result property="company" column="company"/>
		<result property="title" column="title"/>
		<result property="description" column="description"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<collection property="fields" column="id" ofType="Model.Field" select="selectFields" />
		<collection property="programmingLanguages" column="id" ofType="Model.ProgrammingLanguage" select="selectProgrammingLanguages" />
		<collection property="languages" column="id" ofType="Model.Language" select="selectLanguages" />
	</resultMap>
	
	<select id="selectExperience" resultType="experience" parameterType="int" resultMap="experienceResult">
	    SELECT 
	    	*
	    FROM 
	    	experience 
	    WHERE 
	    	id = #{id}
	</select>
	
	<select id="selectAllExperiencesForEmployee" resultType="experience" parameterType="int" resultMap="experienceResult">
	    SELECT 
	    	*
	    FROM 
	    	experience 
	    WHERE 
	    	employee_id = #{employeeId}
	</select>
	
	<insert id="insertExperience" parameterType="experience"  keyProperty="id" useGeneratedKeys="true">
		INSERT INTO 
			experience (
				employee_id, 
				company, 
				title, 
				description, 
				start_date, 
				end_date
			)
		VALUES
			(#{employeeId}, 
			#{company},
			#{title},
			#{description},
			#{startDate},
			#{endDate})
	</insert>
	
	<update id="updateExperience" parameterType="experience" keyProperty="id" useGeneratedKeys="true">
		UPDATE 
			education
		SET 
			company = #{company},
			title = #{title},
			description = #{description},
			start_date = #{startDate},
			end_date = #{endDate}
		WHERE 
			id = #{id}   
	</update>
	
	<update id="softDeleteExperience" parameterType="experience" keyProperty="id" useGeneratedKeys="true">
		UPDATE 
			experience
		SET 
			is_deleted = true
		WHERE 
			id = #{id}   
	</update>
	
	<delete id="deleteExperience" parameterType="int">
		DELETE FROM experience WHERE id = #{id}  	    
	</delete>
	
	<!-- COLLECTION SELECT -->
	
	<select id="selectFields" resultType="Field">
		SELECT 
			f.id, field
	    FROM 
	    	field f
	    JOIN 
	    	experience_field exf 
	    	ON 
	    		exf.field_id = f.id
	    JOIN 
	    	experience ex 
	    	ON 
	    		ex.id = exf.experience_id 
	    	AND 
	    		ex.id = #{id};
	</select>
	
	<select id="selectProgrammingLanguages" resultType="ProgrammingLanguage">
		SELECT 
			plang.id, plang.programming_language as programmingLanguage
	    FROM 
	    	programming_language plang
	    JOIN 
	    	experience_programming_language explang
	    	ON 
	    		explang.programming_language_id = plang.id
	    JOIN 
	    	experience ex 
	    	ON 
	    		ex.id = explang.experience_id 
	    	AND 
	    		ex.id = #{id};
	</select>
	
	<select id="selectLanguages" resultType="Language">
		SELECT 
			iso_code as isoCode, language_name as languageName
    	FROM 
    		language lang
    	JOIN 
    		experience_language exlang 
    		ON 
    			exlang.language_code = lang.iso_code
    	JOIN 
    		experience ex 
    		ON 
    			ex.id = exlang.experience_id 
    		AND 
    			ex.id = #{id};
	</select>
</mapper>