<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.maps.ExperienceMapper" >
	<resultMap id="experienceResult" type="experience">
		<id property="id" column="id" />
		<result property="employeeId" column="employee_id"/>
		<result property="company" column="company"/>
		<result property="title" column="title"/>
		<result property="description" column="description"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
	</resultMap>
	
	<select id="selectExperience" resultType="experience" parameterType="int" resultMap="experienceResult">
	    SELECT 
	    	*
	    FROM 
	    	experience 
	    WHERE 
	    	id = #{id}
	</select>
	
	<insert id="insertExperience" parameterType="experience"  keyProperty="id" useGeneratedKeys="true">
		INSERT INTO 
			experience (
				employee_id, 
				company, 
				title, 
				description, 
				start_date, 
				end_date
			)
		VALUES
			(#{employeeId}, 
			#{company},
			#{title},
			#{description},
			#{startDate},
			#{endDate})
	</insert>
	
	<update id="updateExperience" parameterType="experience" keyProperty="id" useGeneratedKeys="true">
		UPDATE 
			education
		SET 
			company = #{company},
			title = #{title},
			description = #{description},
			start_date = #{startDate},
			end_date = #{endDate}
		WHERE 
			id = #{id}   
	</update>
	
	<update id="softDeleteExperience" parameterType="experience" keyProperty="id" useGeneratedKeys="true">
		UPDATE 
			experience
		SET 
			is_deleted = true
		WHERE 
			id = #{id}   
	</update>
	
	<delete id="deleteExperience" parameterType="int">
		DELETE FROM experience WHERE id = #{id}  	    
	</delete>
</mapper>