<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.maps.JobSearchMapper" >
	<resultMap id="jobSearchResult" type="jobSearch">
		<id property="id" column="id" />
		<result property="employerId" column="employer_id"/>
		<result property="companyName" column="company_name"/>
		<result property="jobTitle" column="job_title"/>
		<result property="jobDescription" column="job_description"/>
		<result property="yearsOfJobSearch" column="years_of_experience"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
	</resultMap>
	
	<select id="selectJobSearch" resultType="jobSearch" parameterType="int" resultMap="jobSearchResult">
	    SELECT 
	    	*
	    FROM 
	    	job_search
	    WHERE 
	    	id = #{id}
	</select>
	
	<insert id="insertJobSearch" parameterType="jobSearch"  keyProperty="id" useGeneratedKeys="true">
		INSERT INTO 
			job_search (
				employee_id,
				job_title
			)
		VALUES
			(#{employeeId},
			#{jobTitle}
	</insert>
	
	<update id="updateJobSearch" parameterType="jobSearch" keyProperty="id" useGeneratedKeys="true">
		UPDATE 
			job_search
		SET 
			job_title = #{jobTitle}
		WHERE 
			id = #{id}   
	</update>
	
	<update id="softDeleteJobSearch" parameterType="jobSearch" keyProperty="id" useGeneratedKeys="true">
		UPDATE 
			job_search
		SET 
			is_deleted = true
		WHERE 
			id = #{id}
	</update>
	
	<delete id="deleteJobSearch" parameterType="int">
		DELETE FROM job_search WHERE id = #{id}  	    
	</delete>
</mapper>