<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.maps.LanguageMapper" >
	<resultMap id="languageResult" type="language">
		<id property="isoCode" column="iso_code" />
		<result property="languageName" column="language_name"/>
	</resultMap>
	
	<select id="selectLanguage" resultType="language" parameterType="String" resultMap="languageResult">
	    SELECT 
	    	*
	    FROM 
	    	language 
	    WHERE 
	    	iso_code = #{isoCode}
	</select>
	
	<select id="selectLanguageByName" resultType="language" parameterType="String" resultMap="languageResult">
	    SELECT 
	    	*
	    FROM 
	    	language 
	    WHERE 
	    	language_name = #{name}
	</select>
	
	<select id="selectLanguagesByEmployeeId" resultType="language" parameterType="int" resultMap="languageResult">
	    
	SELECT lang.iso_code, lang.language_name
	FROM 
		language lang
	JOIN 
		employee_language emlang ON emlang.iso_code = lang.iso_code
	JOIN 
		employee emp ON emp.id = emlang.employee_id AND emp.id = #{employeeId};
	</select>
	
	<insert id="insertLanguage" parameterType="language"  keyProperty="isoCode" useGeneratedKeys="true">
		INSERT INTO 
			language (iso_code, language_name)
		VALUES
			(#{isoCode}, #{languageName})
	</insert>
	
	<insert id="insertLanguageRelationShip" parameterType="idid">
		INSERT INTO 
			employee_language (employee_id, iso_code)
		VALUES
			(#{id1}, #{id2})
	</insert>
	
	<update id="updateLanguage" parameterType="language" keyProperty="isoCode" useGeneratedKeys="true">
		UPDATE 
			language
		SET 
			language_name = #{language_name}
		WHERE 
			iso_code = #{isoCode}    
	</update>
		
	<delete id="deleteLanguage" parameterType="idid">
		DELETE FROM 
			employee_language 
		WHERE
			employee_id = #{id1}
		AND
			iso_code = #{id2}  	    
	</delete>
</mapper>