<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.maps.ProgrammingLanguageMapper" >
	<resultMap id="programmingLanguageResult" type="programmingLanguage">
		<id property="id" column="id" />
		<result property="programmingLanguage" column="programming_language"/>
	</resultMap>
	
	<select id="selectProgrammingLanguage" resultType="programmingLanguage" parameterType="int" resultMap="programmingLanguageResult">
	    SELECT 
	    	*
	    FROM 
	    	programming_language 
	    WHERE 
	    	id = #{id}
	</select>
	
	<select id="selectProgrammingLanguageByName" resultType="programmingLanguage" parameterType="String" resultMap="programmingLanguageResult">
	    SELECT 
	    	*
	    FROM 
	    	programming_language 
	    WHERE 
	    	programming_language = #{lang}
	</select>
	
	<select id="selectProgrammingLanguagesByEmployeeId" resultType="programmingLanguage" parameterType="int" resultMap="programmingLanguageResult">
	    SELECT prog.id, prog.programming_language
		FROM 
			programming_language prog
		JOIN 
			employee_programming_language emprog ON emprog.programming_language_id = prog.id
		JOIN 
			employee emp ON emp.id = emprog.employee_id AND emp.id = #{id};
	</select>
	
	<insert id="insertProgrammingLanguage" parameterType="programmingLanguage"  keyProperty="id" useGeneratedKeys="true">
		INSERT INTO 
			programming_language (programming_language)
		VALUES
			(#{programmingLanguage})
	</insert>
	
	<insert id="insertProgrammingLanguageRelationship" parameterType="idid">
		INSERT INTO 
			employee_programming_language (employee_id, programming_language_id)
		VALUES
			(#{id1}, #{id2})
	</insert>
	
	<update id="updateProgrammingLanguage" parameterType="programmingLanguage" keyProperty="id" useGeneratedKeys="true">
		UPDATE 
			programming_language
		SET 
			programming_language = #{programmingLanguage}
		WHERE 
			id = #{id}    
	</update>
		
	<delete id="deleteProgrammingLanguage" parameterType="idid">
		DELETE FROM 
			employee_programming_language 
		WHERE 
			programming_language_id = #{id2}
		AND
			employee_id = #{id1}	    
	</delete>

</mapper>