<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
     <typeAlias type="Model.Employee" alias="employee"/>
     <typeAlias type="Model.Employer" alias="employer"/>
     <typeAlias type="Model.Language" alias="language"/>
     <typeAlias type="Model.ProgrammingLanguage" alias="programmingLanguage"/>
     <typeAlias type="Model.Framework" alias="framework"/>
     <typeAlias type="Model.Education" alias="education"/>
     <typeAlias type="Model.Experience" alias="experience"/>
     <typeAlias type="Model.JobPosting" alias="jobPosting"/>
     <typeAlias type="Model.JobSearch" alias="jobSearch"/>
     <typeAlias type="Model.Field" alias="field"/>
     <typeAlias type="Model.ActionsDoubleId" alias="idid"/>
  </typeAliases>  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/javaiii"/>
        <property name="username" value="yevoli"/>
        <property name="password" value="yevoli123"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mybatis/maps/EmployeeMapper.xml" />
    <mapper resource="mybatis/maps/EmployerMapper.xml" />
    <mapper resource="mybatis/maps/LanguageMapper.xml" />
    <mapper resource="mybatis/maps/ProgrammingLanguageMapper.xml" />
    <mapper resource="mybatis/maps/FrameworkMapper.xml" />
    <mapper resource="mybatis/maps/EducationMapper.xml" />
    <mapper resource="mybatis/maps/ExperienceMapper.xml" />
    <mapper resource="mybatis/maps/JobPostingMapper.xml" />
    <mapper resource="mybatis/maps/JobSearchMapper.xml" />
    <mapper resource="mybatis/maps/FieldMapper.xml" />
  </mappers>
</configuration>